* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

body { 
 
  font-family: 'Heebo', serif;
  background-image: url("dinnerplate.png");
  background-size: cover;
    background-color: rgba(237, 237, 237, 0.536);
  background-blend-mode: lighten;
   background-size: cover; 
  /* background-color : rgba(146, 145, 145, 0.); */
  
}

div.logo > a > img {
  display: flex;
  width: 16%;
   /* height:auto;  */
  margin-top: .8em;
  margin-left: .8em;
  padding: 7.5px 10px 7.5px 0;
}


/* 


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  /background: linear-gradient(to left, #f46b45, #eea849);/
  / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ /
  color: #FFF;
  height: 50px;
  padding: 1em;
}

  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 2em;
    margin-top: 1em;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    font-size: .6rem;
    text-transform: uppercase;
  }
  
  nav a:hover {
    color: rgb(255, 255, 255);
  }

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.nav-toggle-label {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav-toggle {
  display: none;
}

span,
span::before,
span::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

span::before {
  content: '';
  margin-top: -8px;
}

span::after {
  content: '';
  margin-top: 8px;
}

#nav-toggle:checked + .nav-toggle-label span::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#nav-toggle:checked + .nav-toggle-label span {
  background: rgba(255, 255, 255, 0);
}

#nav-toggle:checked + .nav-toggle-label span::after {
  margin-top: 0px;
  transform: rotate(-405deg);
} */

/* .logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
} */



/*
// this hides the check box but keeps its properties which is display the menu when checked 
.nav-toggle {
  display: none;
}

// these place the hamburger into top right position 
.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2em;
  border: 1px solid red; // this is temporary to show whats happening 
  height: 100%; // this is takes up a 100% of the height space available 
  display: flex; // with the display flex property its easier to align 
  align-items: center;
}


nav {
  position: absolute; // this positions the element permenantly 
  text-align: left; // positions element to the left
  top: 100%;
  left: 0%;
  background-color:rgba(255, 255, 255, 0.395);
  width: 100%;
  display: none;
}

// these select the span and the (psuedo elements) before after span 
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block; // this creates a black block element that represents the hamburger 
  background: rgb(12, 18, 23);
  height: 2.5px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

// content makes these two elements visible 

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute; // positions these two psuedo elements overlap one the original 
}

// now I can select these seperately 

.nav-toggle-label span::before {
  bottom: 7%;
}

.nav-toggle-label span::after {
  top: 3%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 2em;
  margin-top: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: .6rem;
  text-transform: uppercase;
}

nav a:hover {
  color: rgb(255, 255, 255);
}

.nav-toggle:checked ~ nav {
  display: block;
}
*/




/* nav > a {
  padding: 15px 15px;
} */








/* 

@media (max-width: 700px) {
  .nav-toggle-label {
    display: flex;
  }
  .menu {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #nav-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 2em;
    margin-top: 1em;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    font-size: .6rem;
    text-transform: uppercase;
  }
  
  nav a:hover {
    color: rgb(255, 255, 255);
  }
  

  .nav-toggle:checked ~ nav {
    display: block;
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
} */


/* Restaurant Menu */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.6;
}
@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}